*{
  margin: 0;
  border: 0;
  padding: 0;

}


.App {
  height: 100vh;
  width: 100%;
  background-color: black;
  
}
.header{
  height: 75px;
  width: 100%;
  background-color: turquoise;
  border: transparent;
  display: flex;
  justify-content: left;
  padding-left: 35px;
  align-items: center;
  font-size: 25px;
  position: relative;

}
.theBox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 15vh;
}
.theOne{
  height: 55vh;
  width: 80%;
  position: relative;
  
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  
  padding-bottom: 20px;
  
  

}

.clickable{
  display: flex;
  justify-content: space-around;
  width: 80%;
}
 .pantsParty{
   display: flex;
   justify-content: space-around;
   width: 200px;
 }
 .left{
   display: flex;
   background-color: aliceblue;
   height: 100% - 30px;
   width: 60%;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
   padding-left: 40px;
   padding-top: 30px;

 }
.right{
  display: flex;
  background-color: aliceblue;
  height: 100%;
  width: 40%;
  justify-content: flex-end;
  align-items: flex-start;
  font-weight: bold;
  font-size: xx-large;
  
}
.name{
  font-weight: bold;
  position: relative;
  padding-bottom: 30px;
  font-size: x-large;
}
.lists{
  padding-left: 50px;
}
.stuff{
  padding-bottom: 20px;
}

.nextLast{
  background-color: black;
  color: aliceblue;
  font-size: xx-large;
}
.other{
  background-color: teal;
  color: aliceblue;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}